//style

body{
	background-image: url('AWOS.png');
	background-repeat: no-repeat, repeat;
	background-color: #cccccc;
	height:860px;
	width:1180px;
}

.d-flex{
	display:flex;
}

.button{
	color:white;
	font-weight:bold;
	width:100px;
	font-size:12px;
}

.bg-blue{
	background-color:rgb(45,120,175);
	border: 2px solid rgb(45,80,175);
}

.bg-grey{
	background-color:rgb(75,110,130);
	border: 2px solid rgb(75,70,130);
}

.bg-grey{
	background-color:rgb(78,94,112);
	border: 2px solid rgb(78,94,112);
}

.m0{
	margin:0px;
}

.mauto{
	margin:auto;
}

.bg-black{
	background-color:black;
}

.text-center{
	text-align:center;
}

.text-white{
	color:white;
}

.text-green{
	color:rgb(3,255,1);
}

.text-yellow{
	color:rgb(252,251,25);
}

.border-white{
	border-width: 1px;
	border-style: solid;
	border-color: white;
}











.tabs{
	display:flex;
	flex-wrap: wrap;
}

.tabs label{
	order: 1;
	display:block;
	margin-right: 0.2rem;
	cursor: pointer;
	height: 20px;
}

.tabs .tab{
	order: 99;
	flex-grow: 1;
	display: none;
}

.tab{
	width: 100px;
}

.tab{
	width: 100%;
}

.tabs input[type="radio"]{
	display: none;
}

.tabs input[type="radio"]:checked+label+.tab{
	display: block;
}

.tabs input[type="radio"]:checked+label{
	background-color: rgb(45,120,175);
}

label{
	font-weight:bold;
	font-size: 12px;
	color: white;
	border: 1px solid white;
	border-radius: 5px 5px 0px 0px;
	padding-left: 15px;
	padding-right: 15px;
}

































